
.diagram {
  display: flex;
  flex-direction: column;
 
}


.container {
  background-color: burlywood;
  
}

nav li {
 
  list-style: none;
  
}

.navBar {
  display: flex;
  flex-direction: column;
}

.legenda {
  display: flex;
  justify-content: space-around;
}

.difficultyLegenda {
  background-color: gold;
 
  
}

.enjoymentLegenda {
  background-color: tomato;
 

}